<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
    <div style="width: 305px; margin: auto">
        <form action="" method="">
            <input type="text" name="email_address" placeholder="Email Address"><br />
            <input type="password" name="password" placeholder="Password"><br />
            <input type="submit" value="login">
        </form>
        <p>Not a member? <a href="signup.html">Sign Up</a></p>
    </div>
</body>
</html>