<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <div style="width: 305px; margin: auto">
        <form action="" method="">
            <input type="text" name="user_name" placeholder="User Name"><br />
            <input type="text" name="email_address" placeholder="Email Address"><br />
            <input type="password" name="password1" placeholder="Password"><br />
            <input type="password" name="password2" placeholder="Re-type Password"><br />

            <button type="submit" name="continue">Continue</button>

            <p>Already a member? <a href="signin.html">Login</a></p>
        </form>
    </div>
</body>
</html>