<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Home</h2>
            <h3>Hello {{ user_name }}!</h3>
            <a href="manage.html">{{ manage }}</a>
            <a href="viewbills.html">View Monthly Bills</a>


            <form action="/logout" method="POST">
                <input type="submit" value="logout">
            </form>
        </div>
    </div>
</body>
</html>