<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
</head>
<body>
    <form action="/manage" method="post">
        <label for="date_added">Date</label><br />
        <input type="date" name="date_added" id="date_added"><br />
        <br />
        <label for="electricity">Electricity</label><br />
        <input type="text" name="electricity" id="electricity"><br />
        <br />
        <label for="gas">Gas</label><br />
        <input type="text" name="gas" id="gas"><br />
        <br />
        <label for="internet">Internet</label><br />
        <input type="text" name="internet" id="internet"><br />
        <br />
        <label for="city">City</label><br />
        <input type="text" name="city" id="city"><br />
        <br />
        <label for="due_date">Due Date</label><br />
        <input type="date" name="due_date" id="due_date"><br />
        <br />
        <button type="submit" name="submit_bill">Submit</button>
    </form>
        <br>
        <table style="border: 1px solid black">
            <tr>
                <th style="border: 1px solid black">Date Added</th>
                <th style="border: 1px solid black">Electricity</th>
                <th style="border: 1px solid black">Gas</th>
                <th style="border: 1px solid black">Internet</th>
                <th style="border: 1px solid black">City</th>
                <th style="border: 1px solid black">Total Per User</th>
                <th style="border: 1px solid black">Due Date</th>
            </tr>
                    {% for key in bills %}
                        <tr>
                        {% for value in bills[key] %}
                            <td style="border: 1px solid black">{{value}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
        </table>
</body>
</html>