<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
</head>
<body>
    <form action="/manage" method="post">
        <label for="date_added">Date</label><br />
        <input type="date" name="date_added" id="date_added"><br />
        <br />
        <label for="electricity">Electricity</label><br />
        <input type="text" name="electricity" id="electricity"><br />
        <br />
        <label for="email_address">Email</label><br />
        <input type="text" name="email_address" id="email_address"><br />
        <br />
        <label for="password">Password</label><br />
        <input type="password" name="password" id="password"><br />
        <br />
        <button type="submit" name="signUpBtn">Sign Up</button>
        <p>Already a member? <a href="login.html">Login</a></p>
    </form>

        {% if bill %}
            <h4>Bills: {{bill}}</h4>
        {% endif %}
</body>
</html>