<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <title>Pay Bill</title>
</head>
<body>
    <table>
        <tr style="background-color: white; padding: 8px">
            <th>Bill Breakdown</th>
        </tr>
        <tr>
            <td>Date Added</td>
            <td>{{DA}}</td>
        </tr>
        <tr>
            <td>Electricity</td>
            <td>${{E}}</td>
        </tr>
        <tr>
            <td>Gas</td>
            <td>${{G}}</td>
        </tr>
        <tr>
            <td>Internet</td>
            <td>${{I}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>${{C}}</td>
        </tr>
        <tr>
            <td>Total Per User</td>
            <td>${{TPU}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>${{T}}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>{{DD}}</td>
        </tr>
    </table>
</body>
</html>