<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Bills</title>
</head>
<body>
        <table style="border: 1px solid black">
            <tr>
                <th style="border: 1px solid black">Date Added</th>
                <th style="border: 1px solid black">Electricity</th>
                <th style="border: 1px solid black">Gas</th>
                <th style="border: 1px solid black">Internet</th>
                <th style="border: 1px solid black">City</th>
                <th style="border: 1px solid black">Total Per User</th>
                <th style="border: 1px solid black">Due Date</th>
            </tr>
                    {% for key in bills %}
                        <tr>
                        {% for value in bills[key] %}
                            <td style="border: 1px solid black">{{value}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
        </table>
</body>
</html>