<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <title>View Bills</title>
</head>
<body>
        <table>
            <tr style="background-color: white">
                <th>Date Added</th>
                <th>Electricity</th>
                <th>Gas</th>
                <th>Internet</th>
                <th>City</th>
                <th>Total Per User</th>
                <th>Total</th>
                <th>Due Date</th>
            </tr>
                    {% for key in bills %}
                        <tr>
                        {% for value in bills[key] %}
                            <td>
                                <form action="/paybill" method="get">
                                    <input type="hidden" name="bill" value="{{key}}">
                                    <input type="submit" value="{{value}}">
                                </form>
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
        </table>

</body>
</html>